blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji, BlinkMacSystemFont, Helvetica Neue, Arial, PingFang SC,
    PingFang TC, PingFang HK, Microsoft Yahei, Microsoft JhengHei;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  outline: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

button {
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/a/font_403341_6q1chd11nes.woff2?t=1722495633374)
      format("woff2"),
    url(//at.alicdn.com/t/a/font_403341_6q1chd11nes.woff?t=1722495633374)
      format("woff"),
    url(//at.alicdn.com/t/a/font_403341_6q1chd11nes.ttf?t=1722495633374)
      format("truetype");
}

.tb-ifont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: iconfont !important;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

body,
html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

body a {
  cursor: pointer;
}

body a:hover {
  color: var(--tbpc-primary-theme-color, #ff5000);
  text-decoration: none;
}

body a:focus,
body area {
  outline: none;
}

body.disable-hover {
  pointer-events: none;
}

.J_Module {
  min-height: 0;
}

#J_SiteNavHome {
  display: none;
}

#J_Search {
  width: 100% !important;
}

.wrap-fixed {
  padding-top: 99px;
}

.wrap-fixed .top {
  background: var(--tbpc-white-color, #fff);
  height: 40px;
  left: 0;
  overflow: visible;
  padding: 7px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.wrap-fixed .head-wrap {
  margin: 0 auto;
  width: 1190px;
}

.wrap-fixed .logo {
  background-position: 0 -80px;
  height: 42px;
  margin-top: 0;
}

.wrap-fixed .logo h1 {
  display: none;
}

.wrap-fixed .logo h2 {
  display: block;
}

.wrap-fixed .search-ft,
.wrap-fixed .search-hd,
.wrap-fixed .tbh-logo-right,
.wrap-fixed div[data-sg-type="hotWord"] {
  display: none;
}

.wrap-fixed .imgseach-pailitao-theme-queue {
  top: 35px;
  z-index: 700;
}

.search-fixed .search-hd {
  display: none;
}

.search-fixed .imgseach-pailitao-theme-queue {
  top: 35px;
  z-index: 700;
}

.cup {
  margin: 0 auto;
}

.hide,
.tb-hide {
  display: none;
}

.tb-pass {
  background-color: transparent;
}

.tbh-tag:after {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAMklEQVR42sWQsQkAQAgDs/+0bhAr8QtRUfCLgxCuCAEF7DAQ6fntjsSIjxt3P2bApAoFhBVhrbziPxwAAAAASUVORK5CYII=);
  content: " ";
  display: inline-block;
  height: 12px;
  margin-left: 2px;
  width: 10px;
}

.bottom,
.screen-outer,
.seat,
.tbh-hotsale,
.top-wrap {
  margin: 0 auto;
  position: relative;
  width: 1552px;
}

.screen-outer {
  background: var(--tbpc-white-color, #fff);
  border-radius: 18px 18px 0 0;
  padding-top: 16px;
}

.main {
  background-color: var(--tbpc-white-color, #fff);
  border-radius: 0 18px 0 0;
  float: right;
}

.main .core {
  float: left;
  margin-right: 16px;
  width: 1008px;
}

.main-inner {
  background: var(--tbpc-white-color, #fff);
  border-radius: 0 18px 0 0;
  padding-left: 16px;
}

.col-right {
  float: right;
  margin-right: 16px;
}

.col-right,
.layer,
.tbh-service {
  position: relative;
}

.layer {
  margin: 0 auto;
  width: 1552px;
}

.fl {
  display: inline;
  float: left;
}

.top {
  margin-bottom: -1px;
  padding-bottom: 8px;
  padding-top: 16px;
}

.logo,
.tbh-logo {
  width: 240px;
}

.tbh-logo {
  float: left;
  margin-left: 16px;
}

.tbh-logo-right {
  float: right;
  height: 72px;
  margin-right: 16px;
  width: 240px;
}

.layer-inner {
  background-color: var(--tbpc-white-color, #fff);
}

.tbh-search {
  margin-left: 272px;
  margin-right: 272px;
}

.search-decorations {
  background-color: var(--tbpc-white-color, #fff);
  border-radius: 18px 18px 0 0;
  margin: 0 auto;
  position: relative;
  width: 1552px;
}

.tbh-superbanner {
  min-width: 1552px;
}

.superbanner-inner {
  min-width: 1552px;
  width: 1552px;
}

div.footer {
  border-top: 2px solid #f40;
}

div.footer .footer-ft {
  display: block;
}

.tb-footer .tb-footer-hd {
  border-top: none !important;
}

.tbh-business-entry {
  height: 336px;
  width: 1008px;
}

.tbh-hotsale {
  overflow: hidden;
}

.tb-toolkit {
  width: 56px !important;
}

.tb-toolkit .tb-toolkit-list {
  padding: 8px 0;
}

.tb-toolkit .tb-toolkit-list .im-entry {
  height: 56px;
}

.tb-toolkit .tb-toolkit-list .im-entry .im-num {
  background-color: var(--tbpc-primary-theme-color, #ff5000);
  font-family: AlibabaSans102v1TaoBao-Bold, sans-serif;
}

.tb-toolkit .tb-toolkit-list .im-entry .im-bottom,
.tb-toolkit .tb-toolkit-list .im-entry:first-child {
  margin-top: 0;
}

.tb-toolkit .tb-toolkit-list .toolkit-item {
  border-radius: 0 0 0 18px;
  height: 52px;
  margin-top: 8px;
  padding-top: 4px;
  width: 56px;
}

.tb-toolkit .tb-toolkit-list .toolkit-item .toolkit-cart-num {
  background-color: var(--tbpc-primary-theme-color, #ff5000);
  font-family: AlibabaSans102v1TaoBao-Bold, sans-serif;
}

.tb-toolkit .tb-toolkit-list .toolkit-item-back {
  bottom: -50px;
  padding-bottom: 0;
}

.toolkit-item.toolkit-item-link[data-name="plugin"] {
  border-top-left-radius: 20px;
  margin-bottom: -18px;
}

.s1680 .bottom,
.s1680 .screen,
.s1680 .screen-outer,
.s1680 .seat,
.s1680 .tbh-hotsale,
.s1680 .top-wrap {
  width: 1296px;
}

.s1680 .tbh-search {
  margin-left: 272px;
  margin-right: 272px;
}

.s1680 .search-decorations {
  background-color: var(--tbpc-white-color, #fff);
  border-radius: 18px 18px 0 0;
  margin: 0 auto;
  width: 1296px;
}

.s1680 .nav .nav-bd.last {
  display: none;
}

.s1680 div.tbh-nav .nav {
  border-radius: 18px 18px 0 0;
  padding-top: 6px;
  width: 882px;
}

.s1680 .main .core {
  overflow: hidden;
  width: 752px;
}

.s1680 .layer {
  background: var(--tbpc-white-color, #fff);
  width: 1296px;
}

.s1680 div.footer {
  width: 1296px;
}

.s1680 .tbh-superbanner {
  min-width: 1296px;
}

.s1680 .superbanner-inner {
  min-width: 1296px;
  width: 1296px;
}

.s1680 .superbanner-inner .item-5 {
  display: none;
}

.s1680 .tbh-business-entry {
  height: 336px;
  width: 752px;
}

.s1680 .smallTabListInnerWrapper {
  width: 1296px;
}

@media screen and (max-width: 1639px) and (min-width: 1400px) {
  .bottom,
  .screen,
  .screen-outer,
  .seat,
  .tbh-hotsale,
  .top-wrap {
    width: 1296px;
  }

  .tbh-search {
    margin-left: 272px;
    margin-right: 272px;
  }

  .search-decorations {
    background-color: var(--tbpc-white-color, #fff);
    border-radius: 18px 18px 0 0;
    margin: 0 auto;
    width: 1296px;
  }

  .nav .nav-bd.last {
    display: none;
  }

  div.tbh-nav .nav {
    border-radius: 18px 18px 0 0;
    padding-top: 6px;
    width: 882px;
  }

  .main .core {
    overflow: hidden;
    width: 752px;
  }

  .layer {
    background: var(--tbpc-white-color, #fff);
  }

  .layer,
  div.footer {
    width: 1296px;
  }

  .tbh-superbanner {
    min-width: 1296px;
  }

  .superbanner-inner {
    min-width: 1296px;
    width: 1296px;
  }

  .superbanner-inner .item-5 {
    display: none;
  }

  .tbh-business-entry {
    height: 336px;
    width: 752px;
  }

  .smallTabListInnerWrapper {
    width: 1296px;
  }
}

.s1440 .bottom,
.s1440 .screen,
.s1440 .screen-outer,
.s1440 .seat,
.s1440 .tbh-hotsale,
.s1440 .top-wrap {
  width: 1040px;
}

.s1440 .tbh-search {
  margin-left: 272px;
  margin-right: 272px;
}

.s1440 .search-decorations {
  background-color: var(--tbpc-white-color, #fff);
  border-radius: 18px 18px 0 0;
  margin: 0 auto;
  width: 1040px;
}

.s1440 .nav .nav-bd.last {
  display: none;
}

.s1440 div.tbh-nav .nav {
  border-radius: 18px 18px 0 0;
  padding-top: 6px;
  width: 654px;
}

.s1440 .main .core {
  overflow: hidden;
  width: 496px;
}

.s1440 .layer {
  background: var(--tbpc-white-color, #fff);
  width: 1040px;
}

.s1440 div.footer {
  width: 1040px;
}

.s1440 .tbh-superbanner {
  min-width: 1040px;
}

.s1440 .superbanner-inner {
  min-width: 1040px;
  width: 1040px;
}

.s1440 .superbanner-inner .item-4,
.s1440 .superbanner-inner .item-5 {
  display: none;
}

.s1440 .tbh-business-entry {
  height: 336px;
  width: 496px;
}

.s1440 .smallTabListInnerWrapper {
  width: 1040px;
}

@media screen and (max-width: 1399px) {
  .bottom,
  .screen,
  .screen-outer,
  .seat,
  .tbh-hotsale,
  .top-wrap {
    width: 1040px;
  }

  .tbh-search {
    margin-left: 272px;
    margin-right: 272px;
  }

  .search-decorations {
    background-color: var(--tbpc-white-color, #fff);
    border-radius: 18px 18px 0 0;
    margin: 0 auto;
    width: 1040px;
  }

  .nav .nav-bd.last {
    display: none;
  }

  div.tbh-nav .nav {
    border-radius: 18px 18px 0 0;
    padding-top: 6px;
    width: 654px;
  }

  .main .core {
    overflow: hidden;
    width: 496px;
  }

  .layer {
    background: var(--tbpc-white-color, #fff);
  }

  .layer,
  div.footer {
    width: 1040px;
  }

  .tbh-superbanner {
    min-width: 1040px;
  }

  .superbanner-inner {
    min-width: 1040px;
    width: 1040px;
  }

  .superbanner-inner .item-4,
  .superbanner-inner .item-5 {
    display: none;
  }

  .tbh-business-entry {
    height: 336px;
    width: 496px;
  }

  .smallTabListInnerWrapper {
    width: 1040px;
  }
}

.s1280 body,
.s1280 html {
  overflow-x: scroll;
}

.s1280 .site-nav .site-nav-bd {
  width: 1040px !important;
}

.s1280 .tbh-superbanner {
  overflow: hidden;
}

@media screen and (max-width: 1039px) {
  body,
  html {
    overflow-x: scroll;
  }

  .site-nav .site-nav-bd {
    width: 1040px !important;
  }

  .tbh-superbanner {
    overflow: hidden;
  }
}

:root {
  --tbpc-primary-theme-color: #ff5000 !important;
  --tbpc-primary-theme-alpha-color: #ff500015;
  --tbpc-secondary-theme-color: #ff5000 !important;
  --tbpc-secondary-theme-alpha-color: #ff500015;
  --tbpc-price-color: #ff5000;
  --tbpc-price-alpha-color: #ff500015;
  --tbpc-border-theme-color: #ffd5c2;
  --tbpc-background-theme--color: #fff1eb;
  --tbpc-gold-theme-color: #b88449;
  --tbpc-primary-color: #1f1f1f;
  --tbpc-secondary-color: #7a7a7a;
  --tbpc-tertiary-color: #999;
  --tbpc-disable-color: #ccc;
  --tbpc-border-color: #d6d6d6;
  --tbpc-divider-color: #ebebeb;
  --tbpc-bg1-color: #f5f5f5;
  --tbpc-bg2-color: #f7f7f7;
  --tbpc-bg3-color: #fafafa;
  --tbpc-white-color: #fff;
  --tbpc-primary-alpha-color: rgba(0, 0, 0, 0.88);
  --tbpc-secondary-alpha-color: rgba(0, 0, 0, 0.52);
  --tbpc-tertiary-alpha-color: rgba(0, 0, 0, 0.4);
  --tbpc-disable-alpha-color: rgba(108, 20, 20, 0.2);
  --tbpc-border-alpha-color: rgba(0, 0, 0, 0.16);
  --tbpc-divider-alpha-color: rgba(0, 0, 0, 0.08);
  --tbpc-bg1-alpha-color: rgba(0, 0, 0, 0.04);
  --tbpc-bg2-alpha-color: rgba(0, 0, 0, 0.03);
  --tbpc-bg3-alpha-color: rgba(0, 0, 0, 0.02);
}
