.superbanner-inner {
  margin: 0 auto;
  overflow: hidden;
  position: relative
}

.tbh-superbanner {
  position: relative
}

.superbanner-background-image--VYaWbOKc {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 3840px;
  z-index: -1
}

.with-bg-link--tTmKtNui .superbanner-inner {
  height: 100%;
  width: 100%
}

.with-is-promo--o5mkZpce {
  height: 60px
}

.search-decorations--cxwIXap_ {
  background-color: var(--tbpc-white-color,#fff);
  border-radius: 18px 18px 0 0
}

.screen-outer--rJFjUUyl {
  border-radius: 0
}

.logo,.tbh-logo {
  float: left;
  height: 72px;
  width: 240px
}

.logo h1,.tbh-logo h1 {
  position: relative
}

.logo h1 .logo-bd,.tbh-logo h1 .logo-bd {
  background-position: 50%;
  background-size: contain;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 72px;
  text-indent: -9999px;
  width: 240px
}

.logo h1 img,.tbh-logo h1 img {
  display: block;
  height: 110px;
  width: 230px
}

.logo h2,.tbh-logo h2 {
  display: none
}

.logo h2 a,.tbh-logo h2 a {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 42px;
  text-indent: -9999px;
  width: 240px
}

.logo .logo-hover,.tbh-logo .logo-hover {
  position: absolute;
  top: -51px;
  z-index: 30
}

.logo .logo-hover img,.tbh-logo .logo-hover img {
  position: relative
}

.logo .logo-img,.tbh-logo .logo-img {
  height: 72px;
  width: 240px
}

.tbh-logo {
  height: auto
}

.tbh-logo-right .logo-img {
  height: 72px;
  width: 240px
}

.category-collapse-container--b7ftsEF9 .container--IPmCwbUc {
  max-height: 400px;
  transition: max-height .3s ease-in-out
}

.category-collapse-container--b7ftsEF9 .rest-cates--SUp_oI3w {
  transition: all .3s ease-in-out
}

.category-collapse-container--b7ftsEF9 .show-more--scL8MKWX {
  transition: opacity .3s ease-in-out
}

.expand--JKMS8uAz .container--IPmCwbUc {
  max-height: 560px;
  transition-delay: 0s
}

.expand--JKMS8uAz .rest-cates--SUp_oI3w {
  opacity: 1;
  transition-delay: .15s
}

.expand--JKMS8uAz .show-more--scL8MKWX {
  opacity: 0;
  transition-delay: 0;
  z-index: -1!important
}

.collapsed--RCbGFot5 .container--IPmCwbUc {
  max-height: 400px;
  transition-delay: .15s
}

.collapsed--RCbGFot5 .rest-cates--SUp_oI3w {
  opacity: 0;
  transition-delay: 0s
}

.collapsed--RCbGFot5 .show-more--scL8MKWX {
  opacity: 1;
  transition-delay: .15s
}

.service2024--EBGx3iUH {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 12px;
  float: left;
  font-size: 0;
  margin-left: 16px;
  max-height: 400px;
  min-height: 400px;
  position: absolute;
  width: 240px;
  z-index: 9
}

.service2024--EBGx3iUH .show-more-top-cates--WTEjdyMR {
  bottom: 8px;
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 1
}

.service2024--EBGx3iUH .show-more-top-cates--WTEjdyMR .tb-ifont {
  font-size: 8px;
  line-height: 10px;
  margin-left: 4px
}

.service2024--EBGx3iUH .cate-title--YMvXuekU {
  padding: 8px 0 0 16px
}

.service2024--EBGx3iUH .cate-title-txt--GbrE5stQ {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  vertical-align: middle
}

.service2024--EBGx3iUH .cate-title-icon--gKGd2F3G {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  margin-left: 4px;
  vertical-align: middle;
  width: 36px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z {
  padding-bottom: 8px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .first-cate-container--e_LRcFey {
  text-wrap: nowrap;
  overflow: hidden
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .cate--VzZQaL0f {
  border-radius: 4px;
  color: var(--tbpc-primary-color,#1f1f1f);
  height: 32px;
  line-height: 32px;
  margin: 0 24px 0 8px;
  padding-left: 10px;
  transition: background-color .2s ease-in-out
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover {
  background-color: var(--tbpc-white-color,#fff)
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .cate--VzZQaL0f.show-sec-cate--Ki8N5zlw .sec-cate--eq5dArxQ {
  display: block
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .icon-cate--fnKdPK2O {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 16px;
  margin-right: 10px;
  transition: color .2s ease-in-out;
  vertical-align: middle
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .cate-content-href--CfPmJsDG {
  vertical-align: middle
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .service-slash--vLAVP7Y6 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 23px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .service-slash--vLAVP7Y6,.service2024--EBGx3iUH .service-bd--RZ7qOd1Z a {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 14px;
  transition: color .2s ease-in-out
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z a:hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate--eq5dArxQ {
  display: none;
  left: 216px;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 1048px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container--jqOttOof {
  background-color: var(--tbpc-white-color,#fff);
  border: 2px solid var(--tbpc-primary-theme-color,#ff5000);
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 6px 16px 16px;
  transition: width .2s
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X.sec-cate-container-scroll-need-collapse--Y8cOQIzB {
  min-height: 560px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X {
  min-height: 372px;
  overflow: auto;
  scroll-behavior: smooth
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X::-webkit-scrollbar {
  width: 4px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-item--oXwttVRB {
  font-size: 0;
  margin-bottom: 4px;
  position: relative
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-item--oXwttVRB:last-child {
  margin-bottom: 0
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-title-container--cEjw473a,.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-title-container-a--uKAEfQFX {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 14px;
  position: absolute;
  scroll-margin-bottom: 300px;
  text-align: right;
  top: 4px;
  white-space: nowrap
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-title-container-a--uKAEfQFX :hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-txt-title--Kx9qRvcn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  vertical-align: middle
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-icon-arrow-new--amCt_7Ve {
  display: inline-block;
  font-size: 12px;
  height: 8px;
  line-height: 8px;
  vertical-align: middle;
  width: 8px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-icon-arrow--QYSZf6dN {
  background-image: url(https://gw.alicdn.com/imgextra/i3/O1CN01VkdWq71rMddtFZUvT_!!6000000005617-55-tps-4-7.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 8px;
  margin-left: 4px;
  vertical-align: middle;
  width: 8px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-content--c7DL8j0P {
  line-height: 0;
  margin-left: 94px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-content-href--gHfJ3pXu {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
  margin-right: 12px;
  white-space: nowrap
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .service-slash--vLAVP7Y6:last-child {
  display: none
}

.service2024--EBGx3iUH .cate-links-container--kYAV2INy {
  flex: 1;
  position: relative
}

.service2024--EBGx3iUH .cate-links-container--kYAV2INy .cate-highlight--F6eAdz53 {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 {
  font-size: 14px;
  line-height: 14px;
  padding: 0 6px 0 32px;
  width: 192px
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .venues-container--tmDOqd2r {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .venue--VCTobkja {
  text-wrap: nowrap;
  background-color: var(--tbpc-primary-theme-alpha-color,#ff003615);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tbpc-primary-theme-color,#ff5000);
  flex: 0 0 92px;
  font-weight: 500;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 9px 12px;
  text-align: center;
  transition: all .2s ease-in-out
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .venue--VCTobkja:nth-child(odd) {
  margin-right: 8px
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .venue--VCTobkja:hover {
  background-color: var(--tbpc-primary-theme-alpha-color,#ff003615);
  color: var(--tbpc-basic-fg-color-hover,#fff)
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .brands-title--Yxhra4sp {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-weight: 500;
  padding: 8px 0 12px
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .brand--TGAB8Qju {
  align-items: center;
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 4px;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-bottom: 8px;
  transition: background-color .2s ease-in-out;
  width: 100%
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .brand--TGAB8Qju:hover {
  background-color: var(--tbpc-primary-theme-alpha-color,#ff003615)
}

.service2024--EBGx3iUH .venues-brands-container--hz2DOPX3 .logo--T6qxCdtr {
  max-width: 160px;
  -o-object-fit: contain;
  object-fit: contain
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe {
  background-color: var(--tbpc-primary-theme-color,#ff5000)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .cate-title-txt--GbrE5stQ,.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .show-more-top-cates--WTEjdyMR {
  color: var(--tbpc-white-color,#fff)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover {
  background-color: var(--tbpc-white-color,#fff)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover .icon-cate--fnKdPK2O,.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover .service-slash--vLAVP7Y6,.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover a {
  color: var(--tbpc-primary-color,#1f1f1f)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .cate--VzZQaL0f:hover a:hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .icon-cate--fnKdPK2O,.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z .service-slash--vLAVP7Y6,.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z a {
  color: var(--tbpc-white-color,#fff)
}

.service2024--EBGx3iUH.use-theme-color--W5JE4tRe .service-bd--RZ7qOd1Z a:hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.s1680--g6kEL2cH .service2024--EBGx3iUH .sec-cate--eq5dArxQ {
  width: 792px
}

.s1440--JYKZf2Cd .service2024--EBGx3iUH .sec-cate--eq5dArxQ {
  width: 536px
}

.service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X {
  display: flex;
  max-height: 732px
}

.service2024--EBGx3iUH.has-banner--CNZokty7 .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X {
  max-height: 636px
}

@media screen and (max-height: 999px) {
  .service2024--EBGx3iUH .service-bd--RZ7qOd1Z .sec-cate-container-scroll--NrrU9M3X {
      max-height:636px
  }
}

.newnav {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 12px;
  height: 48px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  width: 100%
}

.newnav,.newnav .nav-bd {
  color: var(--tbpc-primary-color,#1f1f1f)
}

.newnav .nav-bd {
  font-size: 16px;
  line-height: 48px
}

.pipe {
  color: rgba(80,96,122,.2);
  text-align: center;
  width: 16px
}

.pipe:before {
  content: ""
}

.newnav .txt-nav {
  text-align: center;
  width: 112px
}

.newnav li {
  float: left;
  position: relative
}

.newnav a {
  display: block
}

.newnav a .pic-nav {
  height: 48px;
  width: 112px
}

.newnav .nav-bd .txt-nav {
  text-align: center;
  width: 112px
}

.newnav .nav-bd li {
  float: left;
  position: relative
}

.newnav .nav-bd a img {
  height: 16px;
  margin-bottom: -2px;
  margin-right: 3px;
  width: 16px
}

.newnav .nav-bd a:hover {
  color: inherit!important
}

.business-entry-container {
  width: 100%
}

.loading-skeleton {
  background-color: var(--tbpc-bg2-color,#f7f7f7)!important
}

.business-entry-slide-banner,.loading-skeleton {
  border-radius: 12px;
  overflow: hidden;
  position: relative
}

.business-entry-slide-banner {
  background-color: var(--tbpc-bg2-color,#f7f7f7)
}

.home-ad-banner {
  height: 100%;
  width: 100%;
  z-index: 1
}

.home-ad-banner-item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%
}

.slick-slider button {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  margin: 0;
  outline: none;
  padding: 0
}

.slick-slider .slick-dots {
  bottom: 20px;
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9
}

.slick-slider .slick-dots li {
  background-color: var(--tbpc-bg1-color,#f5f5f5);
  border: 1px solid var(--tbpc-bg1-alpha-color,rgba(0,0,0,.04));
  border-radius: 6px;
  display: inline-block;
  height: 6px;
  margin: 0 4px;
  opacity: .6;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: width .2s linear;
  width: 6px
}

.slick-slider .slick-dots li.slick-active {
  background-color: var(--tbpc-white-color,#fff);
  opacity: 1;
  width: 12px
}

.slick-slider .slick-dots button {
  height: 100%;
  width: 100%
}

.slick-slider:hover .slick-next,.slick-slider:hover .slick-prev {
  display: block!important
}

.slick-slider .slick-next,.slick-slider .slick-prev {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: none!important;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  z-index: 9
}

.slick-slider .slick-prev {
  background-image: url(https://gw.alicdn.com/imgextra/i1/O1CN01WnpSnB1DqKgkqjvAy_!!6000000000267-2-tps-64-64.png);
  left: 0
}

.slick-slider .slick-next {
  background-image: url(https://gw.alicdn.com/imgextra/i3/O1CN01LYDfty1FQLRndh0vh_!!6000000000481-2-tps-64-64.png);
  right: 0
}

.slick-slider.home-ad-banner-single .slick-dots,.slick-slider.home-ad-banner-single .slick-next,.slick-slider.home-ad-banner-single .slick-prev {
  display: none!important
}

.slick-slider {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none
}

.slick-list,.slick-slider {
  display: block;
  position: relative
}

.slick-list {
  margin: 0;
  overflow: hidden;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
  transform: translateZ(0)
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0
}

.slick-track:after,.slick-track:before {
  content: "";
  display: table
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto
}

.slick-arrow.slick-hidden {
  display: none
}

.business-entry-bbs-card {
  border-radius: 12px;
  font-size: 0;
  overflow: hidden;
  position: relative
}

.business-entry-bbs-card-top {
  display: inline-block;
  height: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%
}

.business-entry-bbs-card-top-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-left: 16px
}

.business-entry-bbs-card-top-title-tag {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tbpc-white-color,#fff);
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  margin-left: 8px
}

.business-entry-bbs-card-top-title-tag img {
  -o-object-fit: contain;
  object-fit: contain
}

.business-entry-bbs-card-top-image {
  float: right;
  height: 8px;
  line-height: 8px;
  margin-right: 16px;
  width: 8px
}

.business-entry-bbs-card-top-image img {
  height: 8px;
  margin-top: 4px;
  width: 8px
}

.business-entry-bbs-card-top-image span {
  font-size: 8px;
  height: 8px;
  margin-top: 4px;
  opacity: .5;
  transform: rotate(-90deg);
  width: 8px
}

.business-entry-bbs-card-content {
  display: inline-block;
  height: 22px;
  margin-bottom: 4px;
  margin-left: 16px;
  margin-right: 16px;
  width: 208px
}

.business-entry-bbs-card-content-icon {
  background-color: rgba(255,98,25,.08);
  border-radius: 4px;
  color: #fa3e19;
  display: none;
  float: left;
  font-size: 12px;
  font-weight: 500;
  height: 12px;
  line-height: 12px;
  margin-right: 8px;
  margin-top: 2px;
  padding: 2px 4px;
  white-space: nowrap;
  width: 24px
}

.business-entry-bbs-card-content-desc {
  color: var(--tbpc-primary-color,#1f1f1f);
  display: inline-block;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px
}

.business-entry-bbs-card-content-desc:hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.business-entry-live-card {
  border-radius: 12px;
  font-size: 0;
  overflow: hidden;
  position: relative
}

.business-entry-live-card-top {
  display: inline-block;
  height: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%
}

.business-entry-live-card-top-title-tag {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tbpc-white-color,#fff);
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  margin-left: 8px
}

.business-entry-live-card-top-title-tag img {
  -o-object-fit: contain;
  object-fit: contain
}

.business-entry-live-card-top-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-left: 16px
}

.business-entry-live-card-top-image {
  float: right;
  height: 8px;
  line-height: 8px;
  margin-right: 16px;
  width: 8px
}

.business-entry-live-card-top-image img {
  height: 8px;
  margin-top: 4px;
  width: 8px
}

.business-entry-live-card-top-image span {
  font-size: 8px;
  height: 8px;
  margin-top: 4px;
  opacity: .5;
  transform: rotate(-90deg);
  width: 8px
}

.business-entry-live-card-content {
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 96px;
  margin-left: 16px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 96px
}

.business-entry-live-card-inner {
  background-color: var(--tbpc-divider-alpha-color,rgba(0,0,0,.08));
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%
}

.business-entry-live-card-inner-mask {
  background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.4));
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  width: 96px
}

.business-entry-live-card-inner-title {
  bottom: 8px;
  color: var(--tbpc-white-color,#fff);
  font-size: 12px;
  font-weight: 500;
  height: 14px;
  left: 8px;
  line-height: 14px;
  overflow: hidden;
  position: absolute;
  text-overflow: clip;
  width: 80px;
  word-break: break-all
}

.business-entry-live-card-inner-atmosphere {
  border-radius: 4px;
  height: 16px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 16px
}

.business-entry-large-item-card {
  border-radius: 12px;
  font-size: 0;
  overflow: hidden;
  position: relative
}

.business-entry-large-item-card-top {
  display: inline-block;
  height: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%
}

.business-entry-large-item-card-top-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-left: 16px
}

.business-entry-large-item-card-top-image {
  float: right;
  height: 8px;
  line-height: 8px;
  margin-right: 16px;
  width: 8px
}

.business-entry-large-item-card-top-image img {
  height: 8px;
  margin-top: 4px;
  width: 8px
}

.business-entry-large-item-card-top-image span {
  font-size: 8px;
  height: 8px;
  margin-top: 4px;
  opacity: .5;
  transform: rotate(-90deg);
  width: 8px
}

.business-entry-large-item-card-content {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none
}

.business-entry-large-item-card-content-container {
  display: inline-block;
  height: 96px;
  width: 208px
}

.business-entry-large-item-card-content-container-image {
  border-radius: 4px;
  float: left;
  height: 96px;
  line-height: 96px;
  overflow: hidden;
  text-align: center;
  width: 96px
}

.business-entry-large-item-card-content-container-image img {
  height: 96px;
  width: 96px
}

.business-entry-large-item-card-content-title-writing {
  float: left;
  height: 90px;
  margin-left: 12px;
  margin-top: 2px;
  width: 100px
}

.business-entry-large-item-card-content-title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--tbpc-primary-color,#1f1f1f);
  display: -webkit-box;
  font-size: 14px;
  height: 40px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  word-break: break-all
}

.business-entry-large-card-top-title-tag {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tbpc-white-color,#fff);
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  margin-left: 8px
}

.business-entry-large-card-top-title-tag img {
  -o-object-fit: contain;
  object-fit: contain
}

.business-entry-large-item-card-content-reduction {
  background-color: var(--tbpc-price-alpha-color,#ff500015);
  border-radius: 4px;
  color: var(--tbpc-price-color,#ff5000);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 6px;
  max-width: 100px;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap
}

.business-entry-large-item-card-content-reduction-subImg {
  float: left;
  height: 16px;
  line-height: 16px;
  margin-right: 4px;
  width: 8px
}

.business-entry-large-item-card-content-coin-title {
  color: var(--tbpc-price-color,#ff5000);
  font-size: 14px;
  line-height: 18px;
  margin-right: 2px
}

.business-entry-large-item-card-content-coin {
  color: var(--tbpc-price-color,#ff5000);
  font-family: AlibabaSans102v1TaoBao-Bold,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 8px;
  white-space: nowrap
}

.business-entry-small-item-card {
  border-radius: 12px;
  font-size: 0;
  overflow: hidden;
  position: relative
}

.business-entry-small-item-card-top {
  display: inline-block;
  height: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%
}

.business-entry-small-card-top-title-tag {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tbpc-white-color,#fff);
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  margin-left: 8px
}

.business-entry-small-card-top-title-tag img {
  -o-object-fit: contain;
  object-fit: contain
}

.business-entry-small-item-card-top-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap
}

.business-entry-small-item-card-top-title-col-1,.business-entry-small-item-card-top-title-col-2 {
  max-width: 64px
}

.business-entry-small-item-card-top-image {
  float: right;
  height: 8px;
  line-height: 8px;
  margin-right: 16px;
  width: 8px
}

.business-entry-small-item-card-top-image img {
  height: 8px;
  margin-top: 4px;
  width: 8px
}

.business-entry-small-item-card-top-image span {
  font-size: 8px;
  height: 8px;
  margin-top: 4px;
  opacity: .5;
  transform: rotate(-90deg);
  width: 8px
}

.business-entry-small-item-card-content {
  display: inline-block;
  padding-right: 12px;
  text-decoration: none;
  vertical-align: bottom;
  width: 72px
}

.business-entry-small-item-card-content-col-1 {
  padding-left: 20px
}

.business-entry-small-item-card-content-col-2 {
  padding-left: 28px
}

.business-entry-small-item-card-content-image {
  border-radius: 4px;
  height: 72px;
  overflow: hidden;
  width: 72px
}

.business-entry-small-item-card-content-image img {
  height: 72px;
  width: 72px
}

.business-entry-small-item-card-content-coin-title {
  color: var(--tbpc-price-color,#ff5000);
  font-size: 14px;
  line-height: 18px;
  margin-right: 2px
}

.business-entry-small-item-card-content-coin {
  color: var(--tbpc-price-color,#ff5000);
  font-family: AlibabaSans102v1TaoBao-Bold,sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  line-height: 20px;
  margin-top: 8px;
  text-align: center;
  white-space: nowrap
}

.business-entry-small-item-card-content-coin-suffix {
  color: var(--tbpc-price-color,#ff5000);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  top: -1px;
  white-space: nowrap
}

.tbh-user {
  background-color: var(--tbpc-bg1-color,#f5f5f5);
  border-radius: 12px;
  box-sizing: border-box;
  float: right;
  height: 400px;
  padding: 12px;
  width: 240px
}

.tbh-user .member-bd {
  position: relative
}

.tbh-user .member-bd .member-nickurl-horiz {
  display: none
}

.tbh-user .member-bd.member-bd-horiz {
  height: 50px;
  margin-left: 4px;
  margin-top: 4px
}

.tbh-user .member-bd.member-bd-horiz .member-nick-info {
  margin-left: 12px;
  margin-top: 4px!important;
  max-width: 144px;
  width: 144px
}

.tbh-user .member-bd.member-bd-horiz .member-nickurl {
  display: none
}

.tbh-user .member-bd.member-bd-horiz .avatar-wrapper {
  display: block;
  float: left;
  height: 50px;
  position: relative
}

.tbh-user .member-bd.member-bd-horiz .avatar-wrapper .member-avatar,.tbh-user .member-bd.member-bd-horiz .avatar-wrapper .member-home {
  height: 50px;
  width: 50px
}

.tbh-user .member-bd.member-bd-horiz .member-nickurl-horiz {
  display: block;
  float: left
}

.tbh-user .member-bd.member-bd-horiz .member-nickurl-horiz .member-nick-info {
  margin-top: 0;
  text-align: left
}

.tbh-user .member-bd.member-bd-horiz .member-nickurl-horiz .member-nick-info>strong {
  display: block!important
}

.tbh-user .member-bd .member-nick {
  display: none
}

.tbh-user .member-bd.member-bd-login {
  text-align: center
}

.tbh-user .member-bd.member-bd-login .member-nick-info strong {
  color: var(--tbpc-primary-color,#1f1f1f);
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tbh-user .member-bd.member-bd-login .member-nick-info strong.member-nick {
  max-width: 160px
}

.tbh-user .member-bd.member-bd-login .member-nick-info .member-login-days {
  color: var(--tbpc-tertiary-alpha-color,rgba(0,0,0,.4));
  display: block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin-top: 2px
}

.tbh-user .member-bd.member-bd-login .member-login-btn-container {
  display: block;
  float: left
}

.tbh-user .member-bd .member-nick-info {
  display: block;
  font-size: 0;
  margin-top: 8px;
  text-align: center
}

.tbh-user .member-bd .member-nick-info strong {
  font-size: 16px
}

.tbh-user .member-bd .btn-open,.tbh-user .member-bd .btn-register {
  color: var(--tbpc-tertiary-color,#999);
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 4px
}

.tbh-user .member-bd .btn-open:hover,.tbh-user .member-bd .btn-register:hover {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.tbh-user .member-bd .divider {
  background-color: var(--tbpc-divider-alpha-color,rgba(0,0,0,.08));
  display: inline-block;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  width: 1px
}

.tbh-user .member-bd .btn-register {
  margin-left: 12px
}

.tbh-user .member-bd .avatar-wrapper {
  border-radius: 50%;
  display: inline-block;
  height: 78px;
  position: relative;
  text-align: center
}

.tbh-user .member-bd .member-home {
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px
}

.tbh-user .member-bd .member-avatar {
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 78px;
  width: 78px
}

.tbh-user .member-bd .member-avatar-tag {
  bottom: -3px;
  height: 16px;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translateX(-50%)
}

.tbh-user .member-bd .member-avatar-tag-order {
  bottom: -2px;
  height: 14px
}

.tbh-user .avatar-wrapper-order {
  display: inline-block;
  height: 50px;
  margin: 0;
  vertical-align: middle;
  width: 50px
}

.tbh-user .member-nickurl,.tbh-user .member-nickurl-order {
  display: block;
  margin-left: 8px;
  opacity: 1;
  padding-bottom: 12px
}

.tbh-user .member-avatar-order {
  height: 48px;
  width: 48px
}

.tbh-user .member-ft-order {
  margin-top: 16px!important
}

.tbh-user .member-nick-order {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 144px
}

.tbh-user .member-nick-info-order {
  margin-top: 0!important;
  text-align: left!important
}

.tbh-user .member-ft {
  margin-top: 4px;
  overflow: hidden
}

.tbh-user .member-ft .btn-user-not-login {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
  color: var(--tbpc-white-color,#fff);
  font-weight: 400;
  height: 302px;
  margin-left: 4px;
  margin-right: 0;
  margin-top: 2px;
  position: absolute;
  width: 208px
}

.tbh-user .member-ft .btn-user-not-login .user-not-login-wrapper {
  height: 100%;
  width: 100%
}

.tbh-user .member-ft .btn-user-not-login .user-not-login-rule {
  bottom: 24px;
  height: 22px;
  left: 0;
  line-height: 16px;
  margin: 0 auto;
  padding-right: 2px;
  padding-top: 2px;
  position: absolute;
  right: 0;
  width: 80px
}

.tbh-user .member-ft .btn-user-not-login .user-not-login-rule:hover {
  background-color: hsla(0,0%,100%,.2)
}

.tbh-user .member-ft .btn-user-not-login .user-not-login-rule-question {
  height: 16px;
  vertical-align: middle;
  width: 16px
}

.tbh-user .member-ft .btn-user-not-login .user-not-login-rule-title {
  color: var(--tbpc-white-color,#fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  vertical-align: middle
}

.tbh-user .member-logout a {
  border-radius: 8px;
  float: left;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  margin-left: 4px;
  text-align: center;
  width: 208px
}

.tbh-user .member-logout .login-guide-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  width: 216px
}

.tbh-user .member-logout .login-guide-desc {
  color: var(--tbpc-tertiary-alpha-color,rgba(0,0,0,.4));
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 216px
}

.tbh-user .member-logout .btn-login {
  background-color: var(--tbpc-primary-theme-color,#ff5000);
  color: var(--tbpc-white-color,#fff);
  font-weight: 900;
  margin-bottom: 2px;
  margin-top: 12px
}

.tbh-user .user-mytao {
  margin-top: 16px;
  overflow: hidden;
  position: relative
}

.tbh-user .user-mytao .mytao-content {
  float: left;
  text-align: center;
  width: 54px
}

.tbh-user .user-mytao .mytao-content a {
  color: var(--tbpc-primary-color,#1f1f1f);
  display: inline-block;
  padding-bottom: 1px;
  width: 100%
}

.tbh-user .user-mytao .mytao-content p {
  color: var(--tbpc-primary-color,#1f1f1f);
  line-height: 16px;
  white-space: nowrap
}

.tbh-user .user-mytao .mytao-content a:hover,.tbh-user .user-mytao .mytao-content a:hover p {
  color: var(--tbpc-primary-theme-color,#ff5000);
  cursor: pointer
}

.tbh-user .user-mytao .mytao-icon {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 1px;
  text-align: center;
  width: 48px
}

.tbh-user .user-tipmain {
  margin: 36px 0 0 30px;
  position: relative
}

.tbh-user .user-tip,.tbh-user .user-tip .user-mod,.tbh-user .user-tipmain {
  height: 18px;
  overflow: hidden;
  width: 252px
}

.tbh-user .user-tip .user-mod {
  position: relative
}

.tbh-user .user-tip .notice-tip {
  background-color: #ffefef;
  border-radius: 2px;
  color: var(--tbpc-primary-theme-color,#ff5000);
  float: left;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 50px
}

.tbh-user .user-tip p {
  color: #666;
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 198px
}

.tbh-user .user-orderMain {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 6px;
  height: 48px;
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  width: 240px
}

.tbh-user .member-login {
  display: none
}

.tbh-user .member-login a {
  color: var(--tbpc-secondary-color,#7a7a7a);
  float: left;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 43px
}

.tbh-user .member-login a strong {
  color: var(--tbpc-primary-color,#1f1f1f);
  display: block;
  font-size: 20px;
  line-height: 20px
}

.tbh-user .member-login .member-column-4 {
  margin-left: 0
}

.tbh-user .member-login .member-column-4 a {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 12px;
  line-height: 16px
}

.tbh-user .member-login .member-column-4 a strong {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-family: AlibabaSans102v1TaoBao-Bold,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 2px
}

.tbh-user .member-login .member-column-4 a:hover,.tbh-user .member-login .member-column-4 a:hover strong {
  color: var(--tbpc-primary-theme-color,#ff5000);
  cursor: pointer
}

.tbh-user .user-externalLink {
  border-radius: 12px;
  height: 128px;
  margin-top: 8px
}

.tbh-user .user-externalLink .user-externalLink-item {
  display: block;
  float: left;
  height: 48px;
  margin: 12px 0 8px;
  text-align: center;
  width: 54px
}

.tbh-user .user-externalLink .user-externalLink-item:hover,.tbh-user .user-externalLink .user-externalLink-item:hover .user-externalLink-item-text {
  color: var(--tbpc-primary-theme-color,#ff5000);
  cursor: pointer
}

.tbh-user .user-externalLink .user-externalLink-item .user-externalLink-item-img {
  background-size: 100% 100%;
  height: 32px;
  width: 32px
}

.tbh-user .user-externalLink .user-externalLink-item .user-externalLink-item-text {
  color: var(--tbpc-primary-color,#1f1f1f);
  height: 14px;
  line-height: 12px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 54px
}

.tbh-user .user-externalLink .user-externalLink-slider-container-small {
  height: 70px!important;
  margin-left: 4px!important;
  width: 208px!important
}

.tbh-user .user-externalLink .user-externalLink-slider-container {
  border-radius: 8px;
  height: 128px;
  margin-top: 16px;
  overflow: hidden;
  width: 100%
}

.tbh-user .user-externalLink .user-externalLink-slider-container a {
  height: 100%;
  width: 100%
}

.tbh-user .user-externalLink .user-externalLink-slider-container .user-externalLink-slider-item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: block;
  overflow: hidden
}

.tbh-user .user-externalLink .slick-slider button {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  margin: 0;
  outline: none;
  padding: 0
}

.tbh-user .user-externalLink .slick-slider .slick-dots {
  bottom: 8px;
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9
}

.tbh-user .user-externalLink .slick-slider .slick-dots li {
  background-color: hsla(0,0%,100%,.6);
  border: 1px solid var(--tbpc-bg1-alpha-color,rgba(0,0,0,.04));
  border-radius: 6px;
  display: inline-block;
  height: 4px;
  margin: 0 4px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: width .2s linear;
  width: 4px
}

.tbh-user .user-externalLink .slick-slider .slick-dots li.slick-active {
  background-color: var(--tbpc-white-color,#fff);
  width: 8px
}

.tbh-user .user-externalLink .slick-slider .slick-dots button {
  height: 100%;
  width: 100%
}

.tbh-user .user-externalLink .slick-slider:hover .slick-next,.tbh-user .user-externalLink .slick-slider:hover .slick-prev {
  display: block!important
}

.tbh-user .user-externalLink .slick-slider .slick-next,.tbh-user .user-externalLink .slick-slider .slick-prev {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: none!important;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  z-index: 9
}

.tbh-user .user-externalLink .slick-slider .slick-prev {
  background-image: url(https://gw.alicdn.com/imgextra/i1/O1CN01WnpSnB1DqKgkqjvAy_!!6000000000267-2-tps-64-64.png);
  left: 0
}

.tbh-user .user-externalLink .slick-slider .slick-next {
  background-image: url(https://gw.alicdn.com/imgextra/i3/O1CN01LYDfty1FQLRndh0vh_!!6000000000481-2-tps-64-64.png);
  right: 0
}

.tbh-user .user-externalLink .slick-slider.user-ad-banner-single .slick-dots,.tbh-user .user-externalLink .slick-slider.user-ad-banner-single .slick-next,.tbh-user .user-externalLink .slick-slider.user-ad-banner-single .slick-prev {
  display: none!important
}

.user-order-main {
  background-color: var(--tbpc-white-color,#fff);
  border-radius: 8px;
  margin-left: 4px;
  margin-top: 12px;
  position: relative
}

.user-order-list,.user-order-list .user-order,.user-order-main {
  height: 48px;
  overflow: hidden;
  width: 208px
}

.user-order-list .user-order {
  position: relative
}

.user-order-list .user-order .order-img {
  float: left;
  height: 48px;
  margin-right: 4px;
  width: 48px
}

.user-order-list .user-order .order-img a {
  height: 100%;
  width: 100%
}

.user-order-list .user-order .order-img img {
  border-radius: 6px;
  height: 44px;
  margin-left: 2px;
  margin-top: 2px;
  width: 44px
}

.user-order-list .user-order .order-detail {
  overflow: hidden
}

.user-order-list .user-order .order-detail h2 {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 400;
  height: 12px;
  letter-spacing: 0;
  line-height: 12px;
  margin: 8px 0
}

.user-order-list .paying {
  display: block
}

.user-order-list .paying p {
  color: var(--tbpc-secondary-color,#7a7a7a)
}

.user-order-list .paying p,.user-order-list .paying p .payTime {
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 12px
}

.user-order-list .paying p .payTime {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.user-order-list .paying p .invalid {
  color: var(--tbpc-secondary-color,#7a7a7a);
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 12px
}

.user-order-list .paymentBtn {
  background-color: var(--tbpc-primary-theme-color,#ff5000);
  border-radius: 4px;
  color: var(--tbpc-white-color,#fff);
  display: block;
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 12px;
  width: 40px
}

.user-order-list .lowPriceNotShow,.user-order-list .payingNotShow,.user-order-list .receivingNotShow {
  display: none
}

.user-order-list .lowPrice,.user-order-list .receiving {
  display: block
}

.user-order-list .lowPrice .adv-img,.user-order-list .receiving .adv-img {
  cursor: pointer;
  height: 100%;
  width: 100%
}

.user-order-list .lowPrice p,.user-order-list .receiving p {
  color: var(--tbpc-secondary-color,#7a7a7a);
  font-family: PingFangSC;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 156px
}

.tb-picks-container {
  height: 100%;
  overflow: hidden;
  width: 100%
}

.tb-pick-header {
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-top: 16px;
  position: relative;
  width: calc(100% - 32px)
}

.tb-pick-header-wrap {
  -ms-overflow-style: none;
  height: 48px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scrollbar-width: none;
  white-space: nowrap;
  width: 100%
}

.tb-pick-header-wrap::-webkit-scrollbar {
  display: none
}

.tb-pick-header-tabs {
  display: inline-block;
  font-size: 0
}

.tb-pick-feeds-container {
  width: 100%
}

.tb-pick-header-tab {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  height: 48px;
  margin-right: 24px;
  position: relative;
  width: 176px
}

.tb-pick-header-tab-devider {
  background-color: var(--tbpc-divider-color,#ebebeb);
  height: 36px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 1px
}

.tb-pick-header-tab-selected .tb-pick-header-tab-icon {
  background-color: var(--tbpc-primary-theme-alpha-color,#ff003615)!important
}

.tb-pick-header-tab-selected .tb-pick-header-tab-title {
  font-weight: 500!important
}

.tb-pick-header-tab-selected .tb-pick-header-tab-subtitle,.tb-pick-header-tab-selected .tb-pick-header-tab-title {
  color: var(--tbpc-primary-theme-color,#ff5000)!important
}

.tb-pick-header-tab:hover .tb-pick-header-tab-icon {
  background-color: var(--tbpc-primary-theme-alpha-color,#ff003615)
}

.tb-pick-header-tab:hover .tb-pick-header-tab-subtitle,.tb-pick-header-tab:hover .tb-pick-header-tab-title {
  color: var(--tbpc-primary-theme-color,#ff5000)
}

.tb-pick-header-tab-icon {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 100%;
  height: 48px;
  margin-right: 8px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: background-color .2s linear;
  width: 48px
}

.tb-pick-header-tab-titles {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.tb-pick-header-tab-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 16px;
  line-height: 24px
}

.tb-pick-header-tab-subtitle,.tb-pick-header-tab-title {
  letter-spacing: 0;
  max-width: 116px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .2s linear;
  white-space: nowrap
}

.tb-pick-header-tab-subtitle {
  color: var(--tbpc-tertiary-color,#999);
  font-size: 12px;
  line-height: 20px
}

.tb-pick-header-left-arrow {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0
}

.tb-pick-header-right-arrow {
  height: 48px;
  position: absolute;
  right: 0;
  top: 0
}

.tb-pick-header-left-arrow-background {
  background-image: linear-gradient(90deg,#fff,hsla(0,0%,100%,0));
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 64px
}

.tb-pick-header-right-arrow-background {
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 64px
}

.tb-pick-header-left-arrow-icon {
  background-image: url(https://gw.alicdn.com/imgextra/i2/O1CN01W6lSOB21P3udsG9yR_!!6000000006976-2-tps-16-16.png);
  border: 1px solid var(--tbpc-divider-color);
  border-radius: 100%;
  left: 0
}

.tb-pick-header-left-arrow-icon,.tb-pick-header-right-arrow-icon {
  background-color: var(--tbpc-white-color,#fff);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  position: absolute;
  top: 12px;
  transition: background-color .2s linear;
  width: 24px
}

.tb-pick-header-right-arrow-icon {
  background-image: url(https://gw.alicdn.com/imgextra/i1/O1CN0113wN0725HVqdtk8aL_!!6000000007501-2-tps-16-16.png);
  border: 1px solid var(--tbpc-divider-color,#ebebeb);
  border-radius: 100%;
  right: 0
}

.tb-pick-header-left-arrow-icon:hover,.tb-pick-header-right-arrow-icon:hover {
  background-color: var(--tbpc-bg2-color,#f7f7f7)
}

.smallTabListWrapper {
  background-color: var(--tbpc-white-color,#fff);
  box-sizing: border-box;
  cursor: default;
  height: 56px;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 8px 0;
  width: 100%
}

.smallTabListWrapperFixed {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 999
}

.smallTabListInnerWrapper {
  height: 100%;
  margin: auto;
  position: relative;
  width: 1552px
}

.smallTabListScrollContainer {
  -ms-overflow-style: none;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  width: 100%
}

.smallTabListScrollContainer::-webkit-scrollbar {
  display: none
}

.smallTabList {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 0 16px;
  white-space: nowrap
}

.smallTabWrapper {
  align-items: center;
  border-bottom: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  margin-right: 32px;
  vertical-align: middle
}

.smallTabWrapperSelected {
  position: relative
}

.smallTabWrapperSelected .smallTabTitle {
  color: var(--tbpc-primary-theme-color,#ff5000);
  font-weight: 600
}

.smallTabWrapperSelected:before {
  background: var(--tbpc-primary-theme-color,#ff5000);
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%
}

.smallTabIcon {
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 24px
}

.smallTabTitle {
  color: var(--tbpc-primary-color,#1f1f1f);
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 64px;
  white-space: nowrap
}

.smallLeftArrow {
  background: linear-gradient(90deg,#fff 35%,hsla(0,0%,100%,0));
  left: 0
}

.smallLeftArrow,.smallRightArrow {
  height: 100%;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 9
}

.smallRightArrow {
  background: linear-gradient(270deg,#fff 35%,hsla(0,0%,100%,0));
  right: 0
}

.arrowIcon {
  background-color: var(--tbpc-white-color,#fff);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border: 1px solid var(--tbpc-divider-color,#ebebeb);
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  height: 28px;
  position: absolute;
  top: 8px;
  transition: background-color .2s linear;
  width: 28px
}

.leftArrowIcon {
  left: 16px;
  transform: rotate(90deg)
}

.leftArrowIcon,.rightArrowIcon {
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01GCGrwN1xc6kebFQiw_!!6000000006463-2-tps-48-48.png)
}

.rightArrowIcon {
  right: 16px;
  transform: rotate(-90deg)
}

.leftArrowIcon:hover,.rightArrowIcon:hover {
  background-color: var(--tbpc-bg2-color,#f7f7f7)
}

.fixedPlaceholder {
  height: 64px;
  width: 100%
}

.scrollBy400 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 700px;
  width: 10px
}

.fixChecker {
  height: 1px;
  width: 100%
}

.tips-carousel {
  bottom: 20px;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  z-index: 8
}

.tips-carousel,.tips-content {
  align-items: center;
  display: flex
}

.tips-content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(10,10,51,.12),0 0 16px 0 rgba(0,0,0,.04);
  box-sizing: border-box;
  cursor: pointer;
  height: 52px;
  justify-content: flex-start;
  padding: 8px 6px;
  position: relative;
  width: 228px
}

.tip-text {
  align-items: center;
  color: #1f1f1f;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px
}

.tip-arrow {
  margin-left: 8px
}

.slide-in {
  animation: fadeInUp .3s ease both
}

.slide-out {
  animation: fadeInDown .3s ease both
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate(-50%,100%)
  }

  to {
      opacity: 1;
      transform: translate(-50%)
  }
}

@keyframes fadeInDown {
  0% {
      opacity: 1;
      transform: translate(-50%)
  }

  to {
      opacity: 0;
      transform: translate(-50%,100%)
  }
}

.carousel-images {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 80px
}

.carousel-image {
  animation: slide 12s infinite;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
  left: 0;
  position: absolute;
  width: 40px
}

.image-0 {
  animation-delay: -10s
}

.image-1 {
  animation-delay: -8s
}

.image-2 {
  animation-delay: -6s
}

.image-3 {
  animation-delay: -4s
}

.image-4 {
  animation-delay: -2s
}

.tip-arrow {
  height: 12px;
  width: 12px
}

@keyframes slide {
  0%,90%,to {
      transform: translate(0);
      z-index: 4
  }

  16.67%,6.67% {
      transform: translate(20px);
      z-index: 5
  }

  23.33%,33.33% {
      transform: translate(40px);
      z-index: 6
  }

  40%,50% {
      transform: translate(80px);
      z-index: 7
  }

  56.67%,66.67% {
      transform: translate(80px);
      z-index: 1
  }

  73.33%,83.33% {
      transform: translate(0);
      z-index: 0
  }
}

.tb-pick-content-item {
  background-color: var(--tbpc-white-color,#fff);
  border-radius: 12px 12px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 358px;
  margin: 0 0 16px 16px;
  position: relative;
  transition: all .5s;
  width: 240px
}

.hover-border {
  border: 1px solid transparent;
  border-radius: 12px;
  box-sizing: border-box;
  height: 366px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 248px
}

.hover-border:hover {
  border: 1px solid var(--tbpc-primary-theme-color,#ff5000)
}

.item-link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  width: 100%
}

.img-wrapper {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 12px;
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 240px
}

.img-mask,.img-wrapper {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover
}

.img-mask {
  background-color: var(--tbpc-bg3-alpha-color,rgba(0,0,0,.02));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.info-wrapper {
  height: 48px;
  margin-top: 8px;
  overflow: hidden;
  width: 100%
}

.info-wrapper-title {
  color: var(--tbpc-primary-color,#1f1f1f);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  max-height: 48px;
  word-break: break-all
}

.info-wrapper-title-img {
  display: inline-block;
  height: 24px;
  margin-right: 6px;
  vertical-align: top
}

.info-wrapper-title-img img {
  height: 16px;
  margin-top: 4px;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: top
}

.tag-list {
  height: 14px;
  line-height: 14px;
  margin-left: 8px;
  margin-top: 8px;
  overflow: hidden
}

.tag-ad-image {
  height: 14px;
  margin-right: 8px;
  -o-object-fit: contain;
  object-fit: contain
}

.tag-text {
  color: var(--tbpc-price-color,#ff5000);
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-right: 8px;
  vertical-align: top
}

.price-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 24px;
  margin-left: 8px;
  margin-top: 8px
}

.price-unit {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 1px;
  margin-right: 2px
}

.price-unit,.price-value {
  color: var(--tbpc-price-color,#ff5000);
  font-family: AlibabaSans102v1TaoBao-Bold,sans-serif;
  font-weight: 700
}

.price-value {
  font-size: 24px;
  line-height: 24px
}

.month-sale {
  color: var(--tbpc-secondary-color,#7a7a7a);
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 1px;
  margin-left: 8px
}

.skeleton-image {
  background-color: var(--tbpc-bg2-color,#f7f7f7)
}

.skeleton-text-container {
  box-sizing: border-box;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%
}

.skeleton-title {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 2px;
  height: 16px;
  margin-top: 8px;
  width: 100%
}

.skeleton-tag-container {
  margin-top: 12px;
  position: relative
}

.skeleton-tag {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 2px;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  width: 48px
}

.skeleton-price-container {
  font-size: 0;
  margin-top: 12px;
  position: relative
}

.skeleton-price {
  height: 24px;
  margin-right: 8px
}

.skeleton-price,.skeleton-sale {
  background-color: var(--tbpc-bg2-color,#f7f7f7);
  border-radius: 2px;
  display: inline-block;
  width: 96px
}

.skeleton-sale {
  height: 16px;
  margin-top: 8px
}

.item-appear {
  height: 1px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 100%
}
