.site-nav {
  position: fixed;
  top: 0;
  height: 48px !important;
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 999;
  background: hsla(0, 0%, 100%, .8) !important;
}

.site-nav .site-nav-bd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px !important;
  background: transparent !important;
}